{% extends "layout.html" %}
{% block head %}
  {{ super() }}
<script src="{{ url_for('static', filename='js/topology.js') }}"></script>
<link href="{{ url_for('static', filename='css/topology.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="row" id="topology__frame">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Topology</h3>
          </div>
          <div class="panel-body">
            <div id="topology__toolbar">
              <button type="button" id="topology__toolbar__btn__label__link"
                      class="btn btn-primary" data-toggle="button"
                      aria-pressed="false" autocomplete="off" aria-label="Link"
                      title="Toggle link labels visibility">
                L
              </button>
              <button type="button" id="topology__toolbar__btn__label__speed"
                      class="btn btn-primary" data-toggle="button"
                      aria-pressed="false" autocomplete="off" aria-label="Link"
                      title="Toggle link speed labels visibility">
                S
              </button>
            </div>
            <div id="topology__canvas" class="canvas">
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row" id="topology__elements">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Topology</h3>
          </div>
          <div class="panel-body">
            <div id="topology__elements__list">

            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
